---
import styles from './Hero.module.scss';
import { ArrowUpRight } from 'lucide-react';
import { ViewTransitions } from 'astro:transitions';

import '@fontsource-variable/pixelify-sans';

const ctaLinks = [
  {
    label: 'Projects',
    href: '/#projects',
  },
  {
    label: 'Blogs',
    href: '/#blogs',
  },
  {
    label: 'Resume',
    href: '/#resume',
  },
];
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Hero Page</title>
    <ViewTransitions />
  </head>
  <body>
    <section class={styles.hero} aria-label='Introduction section'>
      <img src='/public/mountain.jpg' alt='Brayan Mejia Cuenca' />
      <main class={styles.container}>
        <h1 aria-label='Name: Brayan Mejia Cuenca'>
          Brayan Mejia Cuenca
          <br />
          <span>Freelance Front-End Developer</span>
          <br />
          <span>@based in San Francisco</span>
        </h1>
      </main>s

      <div class={styles.cta}>
        {
          ctaLinks.map((data) => (
            <a href={data.href}>
              <ArrowUpRight />
              {data.label}
            </a>
          ))
        }
      </div>
    </section>
  </body>
</html>
