---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const blogPosts = await getCollection('blogs');
const projectPosts = await getCollection('projects');

import ProjectCard from '@/components/ProjectCard.astro';
import PostCard from '@/components/PostCard.astro';

import ScrambleTitle from '@/components/Scrambled';
import MusicPlayer from '@/components/MusicPlayer.astro';
import AnimatedBackground from '@/components/AnimatedBackground.astro';

import { Image } from 'astro:assets';
import avatar from '../assets/avatar.webp';
---

<Layout title='Brayan M. Cuenca Portfolio'>
  <AnimatedBackground />
  <MusicPlayer />

  <section
    class='relative flex flex-col justify-center items-start h-screen gap-4'
  >
    <div
      class='rounded-full overflow-hidden w-10 h-10 md:w-10 md:h-10 lg:w-20 lg:h-20'
    >
      <Image
        src={avatar}
        alt='Brayan Mejia Cuenca'
        class='object-center object-cover grayscale w-full h-full'
        draggable='false'
        quality={'mid'}
      />
    </div>
    <ScrambleTitle
      title='Brayan Mejia Cuenca'
      animationDelay={600}
      paused={false}
      once={true}
      client:load
    />

    <p class='text-xl md:text-2xl lg:text-4xl text-accents-7 tracking-tighter'>
      I'm a <span class='italic'>Full-Stack</span>
      <span class='text-primary-accent font-pixelify text-balance'>
        Developer
      </span>
      who loves to craft on the web. My work is focused on creating
      <span class='text-primary-accent font-pixelify'>intuitive</span>
      <span class='italic'>&</span>
      <span class='text-primary-accent font-pixelify'>dynamic</span> web apps.
    </p>
  </section>

  <section
    id='projects'
    class='flex flex-col justify-center items-start space-y-6'
  >
    <h2 class='italic text-accents-7 text-2xl lg:text-3xl xl:text-5xl'>
      Projects
    </h2>
    <p class='text-accents-6 text-base lg:text-lg'>
      A curated list of projects
    </p>
    <ProjectCard projects={projectPosts} />
  </section>

  <section class='space-y-6 h-screen mt-6 mb-8' id='blog'>
    <h2 class='text-2xl lg:text-2xl xl:text-5xl text-accents-7 italic'>Blog</h2>
    <p class='text-accents-6 text-base lg:text-lg'>A collection of thoughts</p>

    <PostCard post={blogPosts} />
  </section>
</Layout>
