---
import { ChevronRightIcon } from 'lucide-react';

const { slug, title } = Astro.props;

const breadcrumbParts = [
  {
    href: '/',
    text: 'Home',
  },
  {
    href: '/blogs',
    text: 'Blog',
  },
  {
    href: `/blogs/${slug}`,
    text: title,
  },
];

const breadcrumbClasses = {
  container: 'text-sm text-gray-500',
  item: 'hover:text-gray-700 hover:underline',
  separator: 'mx-2',
  current: 'text-gray-400 font-bold',
  icon: 'h-4 w-4 text-gray-400',
};

---

<nav aria-label='Breadcrumb' class={breadcrumbClasses.container}>
  <ol class='flex items-center'>
    {
      breadcrumbParts.map((part, index) => (
        <li class='flex items-center'>
          {index !== 0 && (
            <ChevronRightIcon
              className={breadcrumbClasses.icon}
              aria-hidden='true'
            />
          )}
          {index === breadcrumbParts.length - 1 ? (
            <span class={breadcrumbClasses.current} aria-current='page'>
              {part.text}
            </span>
          ) : (
            <a href={part.href} class={breadcrumbClasses.item}>
              {part.text}
            </a>
          )}
        </li>
      ))
    }
  </ol>
</nav>
