---
import { getCollection } from 'astro:content';

const posts = await getCollection('blogs');
---

<div
  class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center'
>
  {
    posts.map((post) => (
      <article
        id='card-component'
        class='group relative max-w-2xl lg:max-w-[350px] w-full rounded-xl bg-neutral-950 flex flex-col'
        style={{ height: '450px' }}
      >
        <div class='absolute right-5 top-0 h-px w-80 bg-gradient-to-l from-transparent via-white/30 via-10% to-transparent' />
        <div class='relative flex flex-col justify-between gap-4 rounded-xl border border-white/10 px-4 py-5 flex-grow'>
          <div class='space-y-2'>
            <img
              src={post.data.image}
              class='rounded-xl h-32 w-full object-cover opacity-75'
              draggable={false}
            />
            <div class='flex flex-row items-center justify-center pt-2'>
              <h3 class='text-base text-balance font-semibold text-neutral-200'>
                {post.data.title}
              </h3>
              <p class='text-[12px] text-neutral-300 select-none min-w-fit'>
                {post.data.date}
              </p>
            </div>
            <p class='text-sm leading-tight text-neutral-400 pb-3'>
              {post.data.description.slice(0, 100) + '...'}
            </p>
          </div>
          <a
            href={`/blogs/content/${post.slug}`}
            class='inline-flex items-center justify-center text-sm py-2 px-4 font-medium bg-transparent text-accents-7 border border-white/10 rounded-xl duration-300 hover:bg-accents-6/0 hover:text-accents-7 w-full'
          >
            Read More
          </a>
        </div>
      </article>
    ))
  }
</div>
