---
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');

const getColSpanClasses = (index: number) => {
  switch (index % 3) {
    case 0:
      return 'sm:col-span-2 md:col-span-3 lg:col-span-4';
    case 1:
      return 'sm:col-span-1 md:col-span-1 lg:col-span-2';
    case 2:
      return 'sm:col-span-2 md:col-span-3 lg:col-span-4';
    default:
      return '';
  }
};
---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4 justify-items-center mt-8">
  {projects.map((project, index) => (
    <div
      class={`border border-white/20 rounded-xl bg-neutral-950 relative after:absolute after:top-0 after:right-5 after:h-px after:w-80 after:bg-gradient-to-l after:from-transparent after:via-white/30 after:via-10% after:to-transparent ${getColSpanClasses(index)}`}
    >
      <div class="p-8 space-y-2">
        <div class="pointer-events-none bottom-0 absolute -inset-px rounded-xl opacity-0 transition duration-300 group-hover:opacity-100"></div>
        <img
           src={project.data.cover}
          class='rounded-xl h-48 w-full object-cover mb-6'
          draggable={false}
          alt={project.data.title}
        />
        <div class="flex items-start justify-between">
          <a href={`/projects/${project.slug}`}>
            <h3 class="text-accents-7 text-lg md:text-2xl lg:text-2xl font-bold mb-2 hover:text-primary-accent cursor-pointer">
              {project.data.title}
            </h3>
          </a>
          {/* <Link name="lucide:link" size="15"  /> */}
        </div>
        <p class="text-base text-accents-6 mb-6">
          {project.data.overview}
        </p>
      </div>
    </div>
  ))}
</div>