---

import Layout from '@/components/Layout.astro';
import { contentfulClient, type ProjectTypes } from '@/lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<ProjectTypes>({
    content_type: 'project',
  });
  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
      image: item.fields.image,
      description: item.fields.description,
    },
  }));
  return pages;
}

const { content, title, date, image, description } = Astro.props;
---

<html lang='en'>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <Layout title='Portfolio'>
      <section class='container mx-auto px-4 py-12'>
        <div class='grid grid-cols-1 md:grid-cols-2 gap-8 items-start'>
          <div class='order-2 md:order-1'>
            <h1
              class='text-4xl md:text-3xl xl:text-6xl font-medium tracking-tight text-white mb-4'
            >
              {title}
            </h1>
            <p class='text-xl font-light text-white mb-6'>
              {date}
            </p>
            <p class='text-xl font-light text-white mb-6'>
              {description}
            </p>

            <a
              href='/'
              class='inline-block text-white underline hover:text-gray-300'
            >
              Back to Portfolio
            </a>
          </div>
          <div class='order-1 md:order-2 px-5'>
            <!-- @ts-ignore -->
            <img
              src={'https:' + image?.fields?.file?.url}
              alt={image?.fields?.title}
              class='w-full h-auto rounded-lg shadow-lg'
            />
          </div>
        </div>
        <hr class='border-b border-gray-800 mt-12' />
      </section>
    </Layout>
  </body>
</html>
