---
import Layout from '@/layouts/Layout.astro';
import { contentfulClient } from '@/lib/contentful';
import type { ProjectTypes } from '@/lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<ProjectTypes>({
    content_type: 'project',
  });
  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
      image: item.fields.image,
      description: item.fields.description,
      url: item.fields.url,
    },
  }));
  return pages;
}

const { content, title, date, image, url } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
  </head>
  <body class='bg-geist-background text-accent-7'>
    <Layout title='Portfolio'>
      <div class='flex flex-col mx-auto max-w-7xl px-4 py-12 mt-12'>
        <div class='w-full lg:w-3/4 mx-auto'>
          <div class='relative'>
            <img
              src={'https:' + (image as any)?.fields?.file?.url}
              alt={(image as any)?.fields?.title}
              class='w-full h-auto rounded-lg shadow-white shadow-lg mb-8'
            />
          </div>
          <div class='text-center mb-8'>
            <h1 class='text-4xl lg:text-5xl font-medium leading-tight'>
              {title}
            </h1>
            <p class='text-xl mt-2'>{date}</p>
          </div>
          <div class='text-left'>
            <p set:html={content} />
            <a
              href={url}
              target='_blank'
              rel='noopener noreferrer'
              class='text-blue-500 hover:text-blue-400 mt-4 inline-block'
            >
              View Project
            </a>
          </div>
        </div>
      </div>
    </Layout>
  </body>
</html>
