---
import Layout from '~/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';



const projects = await getCollection('projects');
---

<Layout title='Work | Brayan M. Cuenca'>
  <div class='relative max-w-sm md:max-w-2xl lg:max-w-3xl mx-auto px-4'>
    <header class='text-center mb-20'>
      <h1
        class='text-4xl font-[Tobias] italic text-neutral-300'
        transition:name='work'
        transition:animate='slide'
      >
        Work
      </h1>
      <p class='text-neutral-300/90 mt-2'>
        A collection of projects I've built, exploring various technologies and ideas.
      </p>
    </header>

    <div class='relative pb-20'>
      <div
        id='slider'
        class='flex overflow-x-auto snap-x snap-mandatory scrollbar-none scroll-smooth'
        style='scroll-padding: 0 1rem; view-timeline-name: --slider; view-timeline-axis: inline;'
      >
        {
          projects.map((project: any) => (
            <a
              href={`/work/${project.slug}`}
              class='block flex-none w-[300px] snap-start px-2 project-card group'
              style='view-timeline-name: --reveal; view-timeline-axis: inline;'
            >
              <div class="relative">
                <Image
                  loading='eager'
                  src={project.data.cover}
                  alt={project.data.title}
                  width={300}
                  height={300}
                  quality={100}
                  class='rounded-lg w-full h-[300px] object-cover image-reveal group-hover:scale-105 transition-transform duration-500'
                />
                <div class="mt-4 space-y-1">
                  <h2 class='text-lg font-[Tobias] italic text-neutral-300 title-reveal group-hover:text-white transition-colors'>
                    {project.data.title}
                  </h2>
                  <p class="text-sm text-neutral-300/90 line-clamp-2 title-reveal">
                    {project.data.overview}
                  </p>
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
