---
import { contentfulClient } from '../../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type { BlogTypes } from '../../lib/contentful';
import Layout from '@/components/Layout.astro';
import { ViewTransitions } from 'astro:transitions';

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<BlogTypes>({
    content_type: 'blogPost',
  });
  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
    },
  }));
  return pages;
}

const { content, title, date } = Astro.props;
---

<!doctype html transition:animate='none'>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <ViewTransitions />

  </head>
  <body>
    <Layout title='{title}'>
      <div transition:animate="slide">
      <header
        class='flex flex-col justify-center items-center w-full max-w-2xl text-center mx-auto mb-4 px-24 md:px-0 space-y-12 mt-12 md:mt-24 lg:mt-32'
      >
        <h1 class='text-xl md:text-2xl lg:text-4xl font-mediunm text-white'>
          {title}
        </h1>
      </header>

      <div class='text-center mt-4'>
        <time class='text-lg font-medium text-accents-4'>
          {date}
        </time>
      </div>

      <main  >
        <article
          class='px-2 md:px-0 mx-auto prose prose-base md:prose-lg tracking-tight text-accents-7 prose-blockquote:text-accents-5 prose-code:text-accents-5
           prose-figure:text-accents-5 prose-ol:text-accents-5 prose-ul:text-accents-5 prose-li:text-accents-5 prose-h1:text-accents-9 prose-h2:text-accents-9 prose-h3:text-accents-9 prose-h3:text-accents-7
       prose-h4:text-accents-6 prose-h5:text-accents-6 prose-h6:text-accents-9'
        >
          <p set:html={content} />
        </article>
      </main>
    </div>
    </Layout>
  </body>
</html>
