---
import { contentfulClient } from '../../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type { BlogTypes } from '../../lib/contentful';
import Layout from '@/components/Layout.astro';
import Breadcrumb from '@/components/Breadcrumb.astro';

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<BlogTypes>({
    content_type: 'blogPost',
  });
  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
    },
  }));
  return pages;
}

const { content, title, date } = Astro.props;
---

<html lang='en'>
  <head>
    <title>{title}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <!-- Ensure Tailwind CSS is included -->
  </head>
  <body>
    <Layout title='{title}'>
      <Breadcrumb />

      <!-- Main content area -->
      <div class='mx-auto my-12 lg:px-8 bg-[#121213]'>
        <!-- Article title -->
        <h1
          class='prose prose-h1 text-4xl md:text-5xl lg:text-5xl font-bold mb-8 leading-tight text-slate-50'
        >
          {title}
        </h1>

        <!-- Article date -->
        <time class='prose prose-time block mb-6 text-lg text-gray-400'>
          {date}
        </time>

        <article
          set:html={content}
          class='prose prose-invert prose-sm md:prose-base lg:prose-base prose-code:prose-code-sm prose-code:prose-code-xl prose-code:prose-code-2xl prose-li:prose-li-sm prose-li:prose-li-xl prose-li:prose-li-2xl'
        />
      </div>
    </Layout>
  </body>
</html>
