---
import { contentfulClient } from '../../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type { BlogTypes } from '../../lib/contentful';
import Layout from '@/components/Layout.astro';
import Breadcrumb from '@/components/Breadcrumb.astro';

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<BlogTypes>({
    content_type: 'blogPost',
  });
  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
    },
  }));
  return pages;
}

const { content, title, date } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
  
  </head>
  <body class='bg-geist-background text-accents-7 font-geist-regular'>
    <Layout title='{title}'>
      <div class='container mx-0 p-4 '>
        <Breadcrumb />
      </div>

      <header class='relative text-center rounded  mx-auto'>
        <div class='parallax rounded'></div>

        <div class='absolute inset-0 flex items-center justify-center'>
          <h1 class='prose prose-2xl font-geist-bold text-accents-7 z-10'>
            {title}
          </h1>
        </div>
      </header>

      <div class='text-center mt-4'>
        <time class='text-lg font-medium text-accents-4'>
          {date}
        </time>
      </div>

      <main class='rounded-md shadow-lg mx-auto p-8 lg:max-w-xl'>
        <article
          class='prose prose-base md:prose-base whitespace-wrap lg:prose-xl leading-loose mx-auto dark:text-accents-7 prose-blockquote:text-accents-5 prose-code:text-accents-5
           prose-figure:text-accents-5 prose-ol:text-accents-5 prose-ul:text-accents-5 prose-li:text-accents-5 prose-h1:text-accents-9 prose-h2:text-accents-9 prose-h3:text-accents-9 prose-h3:text-accents-7
       prose-h4:text-accents-6 prose-h5:text-accents-6 prose-h6:text-accents-9'
        >
          <p set:html={content} />
        </article>
      </main>
    </Layout>
  </body>
</html>
