---
import Layout from '~/layouts/Layout.astro';
import Container from '~/components/container.astro';
import Badge from '~/components/ui/badge.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import gradientGreen from '~/assets/gradient-green.webp';

type Blog = CollectionEntry<'blogs'>;

const posts: Blog[] = (
  await getCollection('blogs', ({ id }: any) => {
    return id.endsWith('.md') || id.endsWith('.mdx');
  })
).sort((a: Blog, b: Blog) => b.data.date.valueOf() - a.data.date.valueOf());

const formatDate = (date: Date): string => {
  return new Date(date).toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
  });
};
---

<Layout title='Blog Posts | Brayan M. Cuenca'>
    <div>
      
      <header class='text-center mb-20'>
        <h1
          class='text-4xl text-white'
          transition:name="blog"
          transition:animate="slide"
        >
          Blogs
        </h1>
      </header>
      </div>  
<!-- leave this comment off for now -->
      <!-- <div class='grid gap-8 relative z-10'>
        {
          posts.map((post: Blog) => (
            <article class='group mb-12 md:mb-8 lg:mb-0  p-6 '>
              <a href={`/blogs/${post.slug}`} class='block'>
                <div class='space-y-3'>
                  <div class='flex items-center justify-between'>
                    <h2 class='text-xl font-semibold tracking-tight text-white group-hover:text-cyan-100 transition-colors'>
                      {post.data.title}
                    </h2>
                    <time class='text-sm text-white/60 font-mono'>
                      {formatDate(post.data.date)}
                    </time>
                  </div>
                  {post.data.tags && (
                    <div class='flex items-center gap-x-2 flex-wrap'>
                      {post.data.tags.map((tag: string) => (
                        <Badge text={tag} />
                      ))}
                    </div>
                  )}
                  {post.data.description && (
                    <p class='text-white/60 '>
                      {post.data.description}
                    </p>
                  )}
                </div>
              </a>
            </article>
          ))
        }
      </div> -->
    </div>
</Layout>
