---
import MenuComponent from '../components/Menu';
import '../styles/globals.css';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: string;
  canonicalURL?: string;
  keywords?: string;
  author?: string;
  ogDescription?: string;
  twitterHandle?: string;
}

const {
  title,
  description = "Brayan Mejia Cuenca's Portfolio Website",
  image = '/og-image.png',
  type = 'website',
  canonicalURL = Astro.url.href,
  keywords = 'full-stack developer, web development, react, typescript, javascript',
  author = 'Brayan Mejia Cuenca',
  ogDescription = 'Full-Stack Developer specializing in intuitive and dynamic web apps',
  twitterHandle = '@brayancodes',
} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='description' content={description} />
    <meta name='keywords' content={keywords} />
    <meta name='author' content={author} />
    <link rel='canonical' href={canonicalURL} />
    <meta name='color-scheme' content='dark' />
    <meta name='theme-color' content='#08090B' />

    <!-- Open Graph / Facebook -->
    <meta property='og:title' content={title} />
    <meta property='og:description' content={ogDescription} />
    <meta property='og:image' content={image} />
    <meta property='og:type' content={type} />
    <meta property='og:url' content={canonicalURL} />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:creator' content={twitterHandle} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={ogDescription} />
    <meta property='twitter:image' content={image} />

    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main class='flex min-h-screen w-full justify-center px-4'>
      <section class='flex w-full max-w-2xl flex-col pb-36'>
        <nav
          class='mb-16 flex w-full items-center justify-between py-6 text-base sm:text-lg'
        >
          <a
            href='/'
            class='font-bold transition-colors duration-200 hover:text-white hover:bg-transparent'
          >
            Brayan Mejia
          </a>
          <div class='flex items-center gap-6'>
            <a
              href='/work'
              class='transition-colors duration-200 hover:text-white hover:bg-transparent'
            >
              Work
            </a>
            <a
              href='mailto:mejiabrayan@protonmail.com'
              class='transition-colors duration-200 hover:text-white hover:bg-transparent'
            >
              Contact
            </a>
            <a
              href='/blogs'
              class='transition-colors duration-200 hover:text-white hover:bg-transparent'
            >
              Blogs
            </a>
          </div>
        </nav>
        <slot />
      </section>
    </main>
  </body>
</html>
