---
import MenuComponent from '../components/Menu';
import '../styles/globals.css';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: string;
  canonicalURL?: string;
  keywords?: string;
  author?: string;
  ogDescription?: string;
  twitterHandle?: string;
}

const {
  title,
  description = "Brayan Mejia Cuenca's Portfolio Website",
  image = '/og-image.png',
  type = 'website',
  canonicalURL = Astro.url.href,
  keywords = 'full-stack developer, web development, react, typescript, javascript',
  author = 'Brayan Mejia Cuenca',
  ogDescription = 'Full-Stack Developer specializing in intuitive and dynamic web apps',
  twitterHandle = '@brayancodes',
} = Astro.props;
---

<!doctype html>
<html lang='en' class="dark">
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='description' content={description} />
    <meta name='keywords' content={keywords} />
    <meta name='author' content={author} />
    <link rel='canonical' href={canonicalURL} />
    <meta name="color-scheme" content="dark" />
    <meta name="theme-color" content="#08090B" />

    <!-- Open Graph / Facebook -->
    <meta property='og:title' content={title} />
    <meta property='og:description' content={ogDescription} />
    <meta property='og:image' content={image} />
    <meta property='og:type' content={type} />
    <meta property='og:url' content={canonicalURL} />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:creator' content={twitterHandle} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={ogDescription} />
    <meta property='twitter:image' content={image} />

    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-[var(--alternative-black)] text-[var(--text-accent)] dark:bg-[var(--alternative-black)] dark:text-[var(--text-accent)]">
    <MenuComponent client:only='react' />
    <div class="relative min-h-screen">
      <div class="fixed inset-0 pointer-events-none">
        <slot name="gradient" />
      </div>
      <main class="relative min-h-screen flex flex-col items-center justify-center px-4 sm:px-6 md:px-8">
        <slot />
      </main>
    </div>
  </body>
</html>
