---
import Layout from '@/components/Layout.astro';
import { projectsItems } from '@/lib/projects/index';
import { Button } from '@/components/ui/button';

export async function getStaticPaths() {
  return projectsItems.map((project) => ({
    params: { portfolio: project.title.toLowerCase().split(' ').join('-') },
  }));
}

const { portfolio } = Astro.params;
const project = projectsItems.find(
  (item) => item.title.toLowerCase().split(' ').join('-') === portfolio
);
---

<Layout title='Portfolio'>
  <section class='text-center min-w-min md:w-auto lg:w-auto'>
    <h1
      class='text-4xl md:text-3xl xl:text-6xl font-geist-medium mt-4 tracking-tight'
    >
      {project?.title}
    </h1>
    <hr class='w-1/2 mx-auto my-4 border border-orange-500' />
    <p class='text-xl md:text-base xl:text-xl font-geist-light mt-4'>
      {project?.description}
    </p>

    <img
      src={project?.image}
      alt={project?.title}
      class='w-full md:w-3/4 lg:w-3/4 xl:w-3/4 mx-auto my-8 shadow-xl rounded-xl'
    />

    <div class='flex justify-center space-x-4 mt-6'>
      <a href={project?.link}>
        <Button variant={'outline'}>View Project</Button>
      </a>
      {
        project?.caseStudy && (
          <a href={project?.link}>
            <Button variant={'outline'}>Case Study</Button>
          </a>
        )
      }
    </div>
  </section>
</Layout>
